<% content_for :title, "Notes" %>

<div class="w-full mx-auto my-8">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl text-gray-900">Notes</h1>
  </div>
  
  <div data-new-note-form-target="formContainer" class="mb-6 hidden">
    <%= render "form", note: Note.new %>
  </div>

  <% if @notes.any? %>
    <div id="notes" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
      <% @notes.each do |note| %>
        <%= render note %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center text-gray-500 my-10">Nenhuma nota encontrada.</p>
  <% end %>
</div>